{
  "extends": "formidable/configurations/es6-react",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": 0,
    "no-console": 0,
    "no-magic-numbers": 0,
    "arrow-parens": 0,
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"],
    "prefer-template": 1,
    "template-curly-spacing": ["error", "never"],
    "quotes": [2, "double", { "allowTemplateLiterals": true }]
  }
}
