{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "rules": {
    "indent": 0,
    "no-console": 0,
    "no-magic-numbers": 0,
    "arrow-parens": 0,
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"],
    "prefer-template": 1,
    "template-curly-spacing": ["error", "never"],
    "no-undef": "error",
    "max-statements": 0
  }
}
